.ul-style {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 20px;
  padding: 20px;
  justify-content: center;
  list-style: none;
  border: 1px solid rebeccapurple;
}

.li-style {
  margin: 30px 0 30px 0;
  text-align: center;
  border: 1px solid rebeccapurple;
}

.plus-btn {
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  font-size: 15px;
  background-color: red;
  border-style: none;
  cursor: pointer;
  transition: transform 0.1s ease, box-shadow 0.1s ease, background-color 0.1s ease;
}

.plus-btn:hover {
  font-size: 13px;
  transform: scale(0.9);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  background-color: darkred;
}
